* {
    padding: 0;
    margin: 0;
}


/* 圆角 */

.borderRadius {
    border-radius: .3rem;
    overflow: hidden;
}


/* 缩小 */

.mediaScale {
    transform: scale(0.8);
}

.container {
    width: 10rem;
    height: 13.84rem;
    position: relative;
    overflow: hidden;
    z-index: 1000;
    background: url('../images/background.jpg')0 0 no-repeat;
    background-size: 10rem 13.84rem;
}


/* .container .back-img {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
} */

.icon {
    width: .8rem;
    height: .8rem;
    position: absolute;
    top: .6rem;
    right: .6rem;
    transition: transform .1s linear;
    z-index: 1001;
}

.icon i {
    font-size: .8rem;
    background-color: rgba(204, 204, 204, .6);
    border-radius: .4rem;
}

.icon audio {
    display: none;
}


/*---*/

.container .main .page-ul {
    /* position: absolute; */
    /* left: 0; */
    /* top: -13.84rem; */
    /* top: -27.68rem; */
    /* top: -41.52rem; */
    /* top: -55.36rem; */
}

.container .main {
    width: 100%;
    height: 100%;
    /* transform: translateY(-13.84rem) */
    position: absolute;
    top: 0;
    left: 0;
    transition: top 1s linear;
}

.container .main ul .page-li {
    width: 100%;
    height: 13.84rem;
    margin: 0 auto;
}


/* 第一页 */

.container .main .page_1 .title-content {
    width: 6rem;
    height: 10rem;
    margin: 0 auto;
    position: relative;
    /* overflow: hidden; */
}

.container .main .page_1 .title-content img {
    width: 100%;
    height: 100%;
}

.container .main .page_1 .title-content .arrow {
    width: .6rem;
    height: .6rem;
    position: absolute;
    top: .6rem;
    left: .3rem;
    /* animation: arrow 1s linear .9s infinite; */
}

.container .main .page_1 .title-content .arrow .moveArrow {
    animation: arrow 1s linear .9s infinite;
}

@keyframes arrow {
    0% {
        /* left: 6.6rem; */
        transform: translateX(7rem);
        opacity: 0
    }
    50% {
        /* left: 3.15rem; */
        transform: translateX(3.5rem);
        opacity: 0.5
    }
    100% {
        /* left: .3rem; */
        transform: translateX(0);
        opacity: 1
    }
}

.container .main .page_1 .title-content .resume {
    width: 6rem;
    height: 5rem;
    position: absolute;
    top: 1.5rem;
    left: 0;
}

.geren,
.jianli {
    position: relative;
    opacity: 0;
}

.container .main .page_1 .title-content .resume span {
    color: #fff;
    font-size: 2.2rem;
    display: inline-block;
    width: 6rem;
    height: 2.5rem;
    text-align: center;
}

.container .main .page_1 .title-content .separate {
    width: 6rem;
    height: .35rem;
    position: absolute;
    top: 7rem;
    left: 0;
}

.container .main .page_1 .title-content .shadow-left {
    width: 1.44rem;
    height: 1.44rem;
    position: absolute;
    top: 0;
    left: .8rem;
}

.container .main .page_1 .title-content .shadow-left img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.container .main .page_1 .title-content .shadow-right {
    width: 1.44rem;
    height: 1.44rem;
    position: absolute;
    bottom: .27rem;
    right: .8rem;
}

.container .main .page_1 .title-content .shadow-right img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.container .main .page_1 .title-content .info {
    width: 6rem;
    height: 2rem;
    position: absolute;
    bottom: .27rem;
}

.container .main .page_1 .title-content .info span {
    height: 1rem;
    color: #fff;
    font-size: .53rem;
    display: block;
    text-align: center;
}

.container .main .page_1 .english-title {
    width: 6rem;
    margin: 0 auto;
    position: relative;
    text-align: center;
    /* transition: opacity 1s linear; */
}

#title-can {
    width: 6rem;
    height: 1.5rem;
    /* margin-top: 2.13rem; */
    margin-top: 1.5rem;
}

.container .main .page_1 .english-title span {
    position: absolute;
    /* top: 2.27rem; */
    top: 1.64rem;
    left: .13rem;
    color: rgb(47, 62, 84);
    font-size: 1.3rem;
    font-weight: bold;
}

.container .main .page_1 .name,
.container .main .page_1 .job,
.container .main .page_1 .english-title {
    transform: translateX(5rem);
    opacity: 0;
}

.container .main .page_1 .jianli {
    opacity: 0;
}


/* 第二页 */

.container .main .page_2 {
    position: relative;
}

.container .main .page_2 .content-back,
.container .main .page_3 .content-back,
.container .main .page_4 .content-back,
.container .main .page_5 .content-back {
    width: 8rem;
    height: 11.84rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.container .main .page_2 .content-back .page-back,
.container .main .page_3 .content-back .page-back,
.container .main .page_4 .content-back .page-back,
.container .main .page_5 .content-back .page-back {
    width: 100%;
    height: 100%;
}

.container .main .page_2 .page_2-title,
.container .main .page_3 .page_3-title,
.container .main .page_4 .page_4-title,
.container .main .page_5 .page_5-title {
    width: 3rem;
    height: .7733rem;
    position: absolute;
    top: 2rem;
    left: 3.5rem;
}

#title-can2,
#title-can3,
#title-can4,
#title-can5 {
    width: 8rem;
    height: 4rem;
}

.container .main .page_2 .page_2-title .title,
.container .main .page_3 .page_3-title .title,
.container .main .page_4 .page_4-title .title,
.container .main .page_5 .page_5-title .title {
    width: 3rem;
    height: .7733rem;
    line-height: .7733rem;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.container .main .page_2 .page_2-title .title span,
.container .main .page_3 .page_3-title .title span,
.container .main .page_4 .page_4-title .title span,
.container .main .page_5 .page_5-title .title span {
    font-size: .5333rem;
    font-weight: bold;
    color: rgb(47, 62, 84);
}

.container .main .page_2 .baseInfo {
    width: 7rem;
    height: 3.0155rem;
    position: absolute;
    top: 3.5rem;
    left: 1.5rem;
}

.container .main .page_2 .baseInfo .photo-can {
    width: 2.3467rem;
    height: 3.0155rem;
    float: left;
    margin: 0;
}

.container .main .page_2 .baseInfo .photo-can .photo {
    width: 100%;
    height: 100%;
}

.container .main .page_2 .baseInfo .baseInfo-ul {
    width: 4rem;
    height: 3.0155rem;
    float: left;
    color: #fff;
    margin-left: .3rem;
}

.container .main .page_2 .baseInfo .baseInfo-ul .baseInfo-li {
    font-size: .32rem;
    /* font-size: .05rem; */
    line-height: 1.6;
}

.container .main .page_2 .separate2 {
    width: 7rem;
    height: .4rem;
    position: absolute;
    top: 7rem;
    left: 1.5rem;
}

.container .main .page_2 .separate2 img {
    width: 100%;
    height: 100%;
}

.container .main .page_2 .pingjia {
    position: absolute;
    top: 8rem;
    left: 1.5rem;
    color: #fff;
}

.container .main .page_2 .pingjia .pingjia-title {
    position: relative;
    line-height: 1;
}

.container .main .page_2 .pingjia .pingjia-title .pingjia-icon {
    display: inline-block;
    width: .32rem;
    height: .32rem;
    font-size: .32rem;
    color: #fff;
    animation: _rotate 1.5s linear infinite;
}

@keyframes _rotate {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.container .main .page_2 .pingjia .pingjia-title .pingjia-titleContent {
    width: 5rem;
    display: inline-block;
    font-size: .4267rem;
    position: absolute;
    top: 0;
    left: .5rem;
}

.container .main .page_2 .pingjia .pingjia-content {
    width: 7rem;
    height: 5rem;
    line-height: 1.75;
    font-size: .4rem;
    margin-top: .5rem;
}

.container .main .page_2 .page_2-title,
.container .main .page_2 .baseInfo-li,
.container .main .page_2 .photo-can,
.container .main .page_2 .pingjia-title,
.container .main .page_2 .pingjia-content {
    opacity: 0;
}


/* 第三页 */

.container .main .page-ul .page_3 {
    position: relative;
}

.container .main .page-ul .page_3 .jingli-container,
.container .main .page-ul .page_4 .yixiang-container,
.container .main .page-ul .page_5 .nengli-container {
    width: 7rem;
    position: absolute;
    top: 3rem;
    left: 1.5rem;
}

.container .main .page-ul .page_3 .jingli-container .jingli-line,
.container .main .page-ul .page_4 .yixiang-container .yixiang-line,
.container .main .page-ul .page_5 .nengli-container .nengli-line {
    width: 0;
    height: 8rem;
    border-left: 1px solid #fff;
    display: inline-block;
}

.jingli-container .jingli-content,
.yixiang-container .yixiang-content,
.nengli-container .nengli-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}

.jingli-container .jingli-content .jingli,
.yixiang-container .yixiang-content .yixiang,
.nengli-container .nengli-content .nengli {
    position: relative;
}

.jingli-container .jingli-content .jingli {
    margin-top: .5rem;
}

.jingli-container .jingli-content .jingli .jingli-icon,
.yixiang-container .yixiang-content .yixiang .yixiang-icon,
.nengli-container .nengli-content .nengli .nengli-icon {
    width: .32rem;
    height: .32rem;
    font-size: .32rem;
    position: absolute;
    top: 0;
    left: -.16rem;
    animation: _rotate 1s linear infinite;
}

.jingli-container .jingli-content .jingli .text {
    margin-left: .5rem;
    /* font-size: .4rem; */
}

.jingli-container .jingli-content .jingli .text .jingli-time {
    display: inline-block;
    font-size: .375rem;
}

.jingli-container .jingli-content .jingli .text .jingli-job {
    width: 6rem;
    height: .8rem;
    font-size: .5rem;
    line-height: .9rem;
}

.jingli-container .jingli-content .jingli .text .jingli-job .job-left {
    float: left;
}

.jingli-container .jingli-content .jingli .text .jingli-job .job-right {
    float: right;
}

.jingli-container .jingli-content .jingli .text .jingli-neirong {
    display: inline-block;
    width: 6rem;
    line-height: 1.5;
    font-size: .3rem;
    margin-bottom: .3rem;
}

.jingli-time,
.jc,
.page_3-title {
    opacity: 0;
}


/* 第四页 */

.container .main .page-ul .page_4 {
    position: relative;
}

.yixiang-container,
.nengli-container {
    margin-top: .5rem;
}

.yixiang {
    margin-top: 1rem;
    opacity: 0;
}

.page_4 .yixiang-container .yixiang-content .yixiang .yixiang-text,
.nengli-text {
    /* display: inline-block; */
    margin-left: .5rem;
    width: 6rem;
    height: .8rem;
    font-size: .4rem;
}

.end {
    width: 4rem;
    height: .5rem;
    text-align: center;
    position: absolute;
    left: 3rem;
    bottom: 0;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: .25rem;
    opacity: 0;
    transition: opacity .3s linear;
}

.end .endContent {
    display: inline-block;
    width: 100%;
    height: .5rem;
    line-height: .5rem;
    font-size: .25rem;
}


/* 第五页 */


/* 第五页移动到了第三、四页之间 */

.container .main .page-ul .page_5 {
    position: relative;
}

.nengli {
    margin-top: .5rem;
}

.nengli:nth-child(1) {
    margin-top: 0;
}

.nengli-text {
    display: inline-block;
    font-size: .3rem;
    line-height: 1.75;
    height: auto;
}

.nengli-text,
.page_5-title,
.page_4-title {
    opacity: 0;
}

#mask {
    width: 10rem;
    /* height: 10rem; */
    /* border: 1px black solid; */
    /* background: black; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1002;
    overflow: hidden;
}

#mask .vBox {
    width: 100%;
    height: 100%;
}

#mask .vBox .bgi {
    width: 32rem;
    height: 100%;
    transform: translateX(-11rem);
}

#gifBox {
    width: 8rem;
    height: 6rem;
    position: absolute;
    top: 3rem;
    left: 1rem;
}

#gifBox .gif {
    width: 100%;
    height: 100%;
}

#circle {
    position: absolute;
    top: 12rem;
    left: 4rem;
    width: 2rem;
    height: 2rem;
    /* background: #000; */
    /* border-radius: 50%; */
}

#canC {
    /* border: 1px solid rgb(6, 247, 114); */
}

#circle .kaishi {
    position: absolute;
    top: 15px;
    left: 17px;
    font-size: 40px;
    color: rgb(163, 247, 7);
    opacity: 0;
    transition: opacity .5s linear;
}

#cartoon {
    width: 10rem;
    height: 4rem;
    position: relative;
    /* background: #000; */
}

#cartoon .renwu1 {
    width: 170px;
    height: 240px;
    /* transform: translate(500px, -50px) scale(.3); */
    position: absolute;
    top: .2rem;
    left: 0;
    background: url('../images/renwu01.png') no-repeat;
    animation: ren1 1s steps(8) infinite, ren 10s linear infinite;
}

#cartoon .renwu2 {
    width: 200px;
    height: 180px;
    position: absolute;
    top: 1rem;
    left: .5rem;
    background: url('../images/renwu02.png') no-repeat;
    animation: ren2 1s steps(8) infinite, ren 10s linear infinite;
}

#cartoon .renwu3 {
    width: 200px;
    height: 180px;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    background: url('../images/renwu03.png') no-repeat;
    animation: ren3 1s steps(8) infinite, ren 10s linear infinite;
}

#cartoon .renwu4 {
    width: 210px;
    height: 200px;
    position: absolute;
    top: .8rem;
    left: 2rem;
    background: url('../images/renwu04.png') no-repeat;
    animation: ren4 1s steps(8) infinite, ren 10s linear infinite;
}